.main-page-container {
  width: 100%;
  height: 50px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page-title {
  width: 50%;
  display: flex;
  justify-content: left;
}

.main-page-title h3 {
  color: #FFFF;
}