<div class="container__Details">
  <div class="backdrop-banner">
    <div class="item-backdrop">
      <img src="{{ movie?.backdrop_path }}">
    </div>
  </div>
  <div class="row__Details">
    <div class="left">
      <div class="poster ml-5">
        <img src="{{ movie?.poster_path }}">
      </div>
    </div>
    <div class="right">
      <div class="overview__Details">
        <h2 class="title">{{movie.title}}</h2>
        <div>{{movie?.overview}}</div>
      </div>
      <div class="stats">
        <ul class="list">
          <li>
            <div class="label">
                Lançamento
            </div>
            <div class="value">
                {{ movie?.release_date | date}}
            </div>
          </li>
          <li>
            <div class="label">
              Duração
            </div>
            <div class="value">
                {{ movie?.runtime }}<span>min</span>
            </div>
          </li>
          <li *ngIf="movie?.genres.length">
            <div class="label">
              Gênero
            </div>
            <div class="comma_" *ngFor="let genre of movie?.genres | slice:0:2">
                <a>{{ genre?.name }}</a>
            </div>
          </li>
          <li *ngIf="movie?.status">
            <div class="label">
                Status
            </div>
            <div class="value">
                {{movie?.status}}
            </div>
          </li>
          <li *ngIf="movie?.spoken_languages?.length">
            <div class="label">
              Idioma
            </div>
            <div class="comma_" *ngFor="let language of movie?.spoken_languages | slice:0:2">
                <a>{{ language?.name }}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="return__btn">
      <button type="click" [routerLink]="'/movies/'"><span>Voltar</span></button>
    </div>
  </div>
  <div class="listing-cast">
    <div class="listing__head">
      <h2 class="listing__title">Elenco</h2>
    </div>
    <div class="listing-cast-item-style" *ngFor="let cast of casts | slice: 1:5">
      <img *ngIf="cast.profile_path" src="https://image.tmdb.org/t/p/w138_and_h175_face{{cast?.profile_path}}">
      <img *ngIf="!cast.profile_path" src="assets/images/default-movie.png">
      <div>{{movie?.profile_path}}</div>
      <img  src="assets/images/default-movie.png">
      <img  src="assets/images/default-movie.png">
    </div>
  </div>
</div>
