
$font-family-serif-dosis: Dosis, sans-serif;
$letter-spacing: 0.4px;

$base-font-color: rgb(0, 0, 0);
$primary-color: #2196f3;
$secondary-color: #ffdb0f;
$text-color-white: #ffff;
$text-color-grey: #abb7c4;
$base-font-weight: 400;

$breakpoint-small: 768px;
$breakpoint-xsmall: 640px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1400px;
$breakpoint-medium: 1024px;